html, body{
    margin:20px;
}
#myAllergies{
    background-color:#bdbdbd;    
}

.deleteButton, .allergyName{
    margin:10px;
    
    display:inline-block;
}

#allergyDashboard{
    
}

#submitButton{
    display: none; /*so that submit button is hiddden-- can submit by pressing enter*/
}