
/** Recipe page styles ***/

.recipe .left-panel {
	background-color: #EEE;
	height: 100%;
}

.recipe .allergen{
	background-color: #ed6363;
}

.recipe #header{
    font-size:2em;
    background-color:#ed6363;
}

.recipe .replacement{
    margin-top:20px;
    color:blue;
    text-decoration: underline;
}

.recipe li.replacement{
    list-style:disc;
}

