.allergen{
	background-color: red;
}

#header{
    font-size:3em;
}

.replacement{
    background-color:white;
    margin-top:20px;
    color:blue;
    text-decoration: underline;
}

li{
    list-style:disc;
}