/******************* Color reference *****************/
/*

dominant green: #88c96c;

green text highlight: #a9d895;
red text highlight: #ed6363;

*/

/*
font: source sans pro;
(import google fonts)
*/


html, body{
    color:black;
    font-family: "Source Sans Pro", sans-serif;
}

/** Universal styles **/
.navbar-default .navbar-brand {
	font-size: 4em;
	font-weight: bold;
	color: #88c96c;
	padding-top: 20px;
	padding-left: 40px;
}


/** Profile page styles **/

#myAllergies{
    background-color:#bdbdbd;    
}

.deleteButton, .allergyName{
    margin:10px;
    
    display:inline-block;
}

#allergyDashboard{
    
}

#submitButton{
    display: none; /*so that submit button is hiddden-- can submit by pressing enter*/
}

/** Recipe page styles ***/

.left-panel {
	background-color: #EEE;
	height: 100%;
}

.allergen{
	background-color: #ed6363;
}

#header{
    font-size:2em;
    background-color:#ed6363;
}

.replacement{
    margin-top:20px;
    color:blue;
    text-decoration: underline;
}

li.replacement{
    list-style:disc;
}

