/** Profile page styles **/

.profile #myAllergies{
    background-color:#bdbdbd;    
}

.profile .deleteButton, .allergyName{
    margin:10px;
    
    display:inline-block;
}


.profile #submitInput{
    display:none;
}

.profile #newAllergy, #submitNewAllergy{
    height:2em;
    font-size:1.5em;
}

.profile #submitNewAllergy{
    margin:5px;
    border-radius: 10%;
}
