/******************* Color reference *****************/
/*

dominant green: #88c96c;

green text highlight: #a9d895;
red text highlight: #ed6363;

*/

/*
font: source sans pro;
(import google fonts)
*/


html, body{
    color:black;
    font-family: "Source Sans Pro", sans-serif;
}

/** Universal styles **/

#accountButton{
	font-size:20px;
}

.navbar-default .navbar-brand {
	font-size: 3.7em;
	font-weight: bold;
	color: #88c96c;
	padding-top: 15px;
	padding-left: 40px;
}

.navbar-default {
    border-color:#88c96c;
}

.navbar-default .navbar-brand:hover{
	color:#9be27c;
}
